<div class="row-fluid pb-3">
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        {% if project.url %}
        <h3 class="card-title">
          <a href="{{ project.url }}">{{ project.name }}</a>
        </h3>
        {% else %}
        <h3 class="card-title">{{ project.name }}</h3>
        {% endif %}
        <p>{{ project.elevatorPitch }}</p>
      </div>
      <div class="col">
        {% if project.status %}
        <div class="row">
          <div class="col font-weight-bold">Status</div>
          <div class="col">
             {% if project.status == "Completed" %}
            <span class="badge badge-pill badge-success">{{ project.status }}</span>
            {% elsif project.status == "Actively Maintained" %}
            <span class="badge badge-pill badge-primary">{{ project.status }}</span>
            {% elsif project.status == "On Hold" %}
            <span class="badge badge-pill badge-warning">{{ project.status }}</span>
            {% endif %}
            </div>
        </div>
        {% endif %}
        {% if project.repository %}
        <div class="row">
          <div class="col font-weight-bold">Code Repository</div>
          <div class="col"><a href="{{ project.repository }}">GitHub</a></div>
        </div>
        {% endif %} {% if project.technologies %}
        <div class="row">
          <div class="col font-weight-bold">Technologies</div>
          <div class="col">{{ project.technologies }}</div>
        </div>
        {% endif %} {% if project.partner %} {% for partner in project.partner
        %}
        <div class="row">
          <div class="col font-weight-bold">Partner</div>
          <div class="col">
            {% if partner.url %}
            <a href="{{ partner.url }}">{{ partner.name }}</a>
            {% endif %}
          </div>
        </div>
        {% endfor %} {% endif %} {% if project.lead %}
        <div class="row">
          <div class="col font-weight-bold">Lead</div>
          <div class="col">{{ project.lead }}</div>
        </div>
        {% endif %} {% if project.press %} {% for press in project.press
          %}
        <div class="row">
          <div class="col font-weight-bold">{{ press.category }}</div>
          <div class="col"><a href="{{ press.url }}">{{ press.title }}</a></div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</div>
</div>