<div class="container">
    <div class="row-fluid">
    <ol>
        <li>
            <p>
                We prefer submissions in the form of problem statements. A good rule to
                start with is to phrase your idea in the form of:
            </p>
            <blockquote class="blockquote text-center">
                <i>How might we (thing you want to change here)"</i>
            </blockquote>
            <p>
                For example:
                <i>"How might we make it easier for residents to apply for a social safety net program"</i>
                we consider a <b>good</b> problem statement, but
                <i>"Let's build an iOS app to track how people use parks in our
                    community."</i>
                we consider to be a <b>poor</b> problem statement. The reason behind
                this, is that we want to avoid starting from a point where we have
                already made many assumptions about the project. Who knows if an iOS app
                is the best choice, and what problem are you trying to address by
                tracking people's opinions?
            </p>
        </li>
        <li>
            <p>
                The project must be <b>open-source</b> for its entire lifetime. If this
                is code, it means freely available on GitHub. If it isn't code, this
                means that the progress and deliverable 'thing' is openly available in
                some other accessible way.
            </p>
        </li>
        <li>
            <p>
                The project must solve a <b>real civic need</b> (while there are plenty
                of good ideas out there, we limit ourselves to civic tech related,
                social good projects). We realize this is a somewhat fuzzy distinction,
                which is why we always will have you discuss your problem statement/idea
                with Code for Buffalo core team members before we commit to anything.
            </p>
        </li>
        <li>
            Due to our tie to Code for America, and the diverse group of our members,
            we may not be able to take on projects that are political in nature.
            Projects focused around things like open-data and transparency are fair
            game, but projects to support a partisan political effort are 'iffy' at
            best. (i.e transparency tool for campaign finance is good, website
            promoting a candidate is a no-go).
        </li>
    </ol>
</div>
<div class="row justify-content-center py-4">
    <a class="btn btn-primary btn-lg rounded-pill p-3" href="https://forms.gle/17FSdfLjr7fDhJDX9" role="button">Submit a
        project idea</a>
    </div>
</div>