  <nav class="navbar navbar-expand-lg navbar-light bg-light px-4 site-header">
    <a class="navbar-brand" href="/"><img src="/images/BlueBannerOnAlpha.png" height="35" alt="Code for Buffalo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/code-of-conduct/">Code of Conduct</a>
        </li>
        <li class="nav-item pr-2">
          <a class="nav-link" href="/projects/">Our Work</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary rounded-pill" href="https://www.codeforamerica.org/donate-to-a-brigade?utm_campaign=Code%20for%20Buffalo&utm_source=Brigade%20site" target="_blank">Donate</a>
        </li>
      </ul>
    </div>
  </nav>
