<!DOCTYPE html>
<html lang="en">
  {% include shared/head.html %} {% include shared/header.html %}
  <main role="main">
    <div class="container">
      <div class="jumbotron bg-white">
        <div class="container">
          <h1 class="display-3">Code for Buffalo</h1>
          <p class="lead">
            A
            <a href="https://www.codeforamerica.org/">Code for America</a>
            brigade and grassroots organization.
          </p>
          <hr class="my-4" />
          <p>
            Code for Buffalo addresses local social and civic challenges through
            creative uses of technology. Despite the name, we're not solely
            focused on coding! We foster relationships between government,
            nonprofit, academic, for-profit companies, residents, civic
            technologists, analysts, designers, and many more. All are welcome!
          </p>
          <a
            class="btn btn-primary btn-lg rounded-pill mr-2 my-4"
            href="/projects/"
            role="button"
            >See our projects</a
          >
          
          <a
            class="btn btn-primary btn-lg rounded-pill mr-2 mb-4"
            href="https://join.slack.com/t/codeforbuffalo/shared_invite/enQtMzk5NzA5MjA4NTQ0LTcxYjFkNGY4NTRlZmJlMTAxZDEyMDMxODlkNjdlMDE1ZTM3MmM4ZDQyYzRmMDA5MDRiZGM3ZDM3ZWQ5NDBkZTQ"
            role="button"
            >Say hi on Slack</a
          >
          <a
            class="btn btn-primary btn-lg rounded-pill mr-2 mb-4"
            href="https://www.meetup.com/CodeForBuffalo/"
            role="button"
            >Join us on Meetup</a
          >
        </div>
      </div>
    </div>
  </main>

  {% include shared/footer.html %}
</html>
