<section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" class="editable">National Day of Civic Hacking 2020</h2>
        <p class="text-center" class="editable">This year we're teaming up with BetaNYC and Code for Syracuse to take action to improve New York State social safety net services during COVID-19.</p>
      <h1 class="text-center"><a href="https://www.meetup.com/CodeForBuffalo/events/" target="_blank"><i class="fa fa-calendar"></i></a></h1>
          <p class="text-center"><a href="https://www.meetup.com/CodeForBuffalo/events/" target="_blank" class="btn btn-primary btn-lg">RSVP NOW</a></p>
      </div>
  </div>
  </div>
</section>
